{% load static %}
<section class="sentence">
    <div class="container">
        <div class="sentence__content">
            <h2 class="sentence__title">Покупайте с выгодой!</h2>
            <div class="sentence__items">
                <div class="sentence__item">
                    <div class="sentence__item-img">
                        <img src="{% static 'store/icons/sentence/profit-icon.svg' %}" alt="icon">

                    </div>
                    <div class="sentence__item-txt">
                        <h3 class="sentence__item-title">Лучшая цена</h3>
                        <p class="sentence__item-descr">
                            Предлагаем близкие к оптовым цены, которые дают возможность приобретать мебель
                            дешевле, чем в розничных салонах и шоу-румах.
                        </p>
                    </div>

                </div>
                <!-- /.sentence__item -->
                <div class="sentence__item">
                    <div class="sentence__item-img">
                        <img src="{% static 'store/icons/sentence/supplies-icon.svg' %}" alt="icon">

                    </div>
                    <div class="sentence__item-txt">
                        <h3 class="sentence__item-title">Прямые поставки</h3>
                        <p class="sentence__item-descr">
                            С ведущих мебельных фабрик уменьшают срок
                            выполнения вашего заказа, даже если речь идет об изготовлении предметов по
                            индивидуальному проекту.

                        </p>
                    </div>

                </div>
                <!-- /.sentence__item -->
                <div class="sentence__item">
                    <div class="sentence__item-img">
                        <img src="{% static 'store/icons/sentence/time-icon.svg' %}" alt="icon">

                    </div>
                    <div class="sentence__item-txt">
                        <h3 class="sentence__item-title">Экономие времени</h3>
                        <p class="sentence__item-descr">
                            Не нашли оптимальный вариант или нет
                            времени на поиски? Оставьте онлайн-заявку с критериями, и мы предложим вам
                            несколько достойных образцов.
                        </p>
                    </div>

                </div>
                <!-- /.sentence__item -->
                <div class="sentence__item">
                    <div class="sentence__item-img">
                        <img src="{% static 'store/icons/sentence/production-icon.svg' %}" alt="icon">

                    </div>
                    <div class="sentence__item-txt">
                        <h3 class="sentence__item-title">Изготовление на заказ</h3>
                        <p class="sentence__item-descr">
                            Принимаем заявки на изготовление
                            мебели по персональному дизайн-проекту от покупателей из любой точки России.
                            Просим быть готовыми к авансированной оплате персональных заказов.
                        </p>
                    </div>

                </div>
                <!-- /.sentence__item -->
            </div>
            <!-- /.sentence__items -->
        </div>
    </div>
</section>