{% load static %}
<section class="about__cards">
    <div class="container">
        <div class="about__cards-content">
            <div class="about__card">
                <div class="about__card-img">
                    <img src="{% static 'store/icons/about__card/coop-icons.svg' %}" alt="icons">
                </div>
                <h2 class="about__card-title">Особенные условия для оптовиков</h2>
                <p class="about__card-descr">
                    Число наших оптовых
                    покупателей неуклонно возрастает и всё потому, что мы сумели предложить
                    владельцам мебельных магазинов наиболее выгодные условия.
                </p>
            </div>
            <!-- /.about__card -->
            <div class="about__card">
                <div class="about__card-img">
                    <img src="{% static 'store/icons/about__card/delivery-box-icons' %}.svg" alt="icons">
                </div>
                <h2 class="about__card-title">Оперативная доставка</h2>
                <p class="about__card-descr">
                    Собственная курьерская служба
                    быстро привезет купленную мебель по указанному адресу. В российские регионы
                    доставка осуществляется силами транспортных компаний.
                </p>
            </div>
            <!-- /.about__card -->
            <div class="about__card">
                <div class="about__card-img">
                    <img src="{% static 'store/icons/about__card/support-icons.svg' %}" alt="icons">
                </div>
                <h2 class="about__card-title">Внимательный сервис</h2>
                <p class="about__card-descr">
                    Квалифицированные менеджеры
                    интернет-магазина ответят на все вопросы по ассортименту и предоставляемым
                    возможностям, а также помогут оформить заказ и проконтролируют реализацию
                    клиентских пожеланий при заказе мебели.

                </p>
            </div>
            <!-- /.about__card -->
            <div class="about__card">
                <div class="about__card-img">
                    <img src="{% static 'store/icons/about__card/re-icons.svg' %}" alt="icons">
                </div>
                <h2 class="about__card-title">
                    Каждый пятый покупатель заказывает у нас
                    повторно!
                </h2>
                <p class="about__card-descr">
                    И мы благодарим всех, кто воспользовался нашим уникальным предложением, заказал мебель
                    быстро и недорого и порекомендовал
                    друзьям и
                    знакомым.
                </p>
            </div>
            <!-- /.about__card -->


        </div>
        <!-- /.about__cards-content -->
    </div>
    <!-- /.container -->
</section>