<section class="sentence">
    <div class="container">
        <div class="offers__content">
            <div class="offers__item">
                <h2 class="offers__item-title">Самые «вкусные» предложения</h2>
                <p class="offers__item-descr">
                    Мы делаем всё
                    необходимое, чтобы покупатели получали доступ к актуальным новинкам, которые
                    представляет российский мебельный рынок. Познакомиться с каждой моделью,
                    сравнить цены на аналоги и выбрать лучшее вы можете прямо сейчас. Хотите
                    первыми узнавать о самых выгодных предложениях? Тогда подписывайтесь на
                    информационную рассылку!
                </p>
            </div>
            <!-- /.offers__item -->
            <div class="offers__item">
                <h2 class="offers__item-title">Гарантированное качество</h2>
                <p class="offers__item-descr">
                    Вся продукция сопровождается
                    гарантией производителя. В каталогах представлена только сертифицированная
                    мебель. Собственный контроль качества тщательно проверяет каждый образец
                    перед отправкой заказчику. Покупатели получают необходимые документы –
                    гарантийный талон и чек.
                </p>
            </div>
            <!-- /.offers__item -->
            <div class="offers__item">
                <h2 class="offers__item-title">Впечатляющий ассортимент</h2>
                <p class="offers__item-descr">
                    Ежедневно мы выбираем для
                    наших каталогов идеальные образцы из товарной матрицы производителей по всей
                    России. Модные расцветки, экологически безопасные материалы, надежные
                    комплектующие – у нас вы найдете мебель своей мечты!

                </p>
            </div>
            <!-- /.offers__item -->
        </div>
    </div>
</section>