{% load static %}
<section class="saving">
    <div class="container">
        <div class="saving__content">
            <h2 class="saving__title">Мы поможем сэкономить время, силы и деньги!</h2>
            <div class="saving__cards">
                <div class="saving__card">
                    <div class="saving__card-img">
                        <img src="{% static 'store/icons/saving.svg' %}" alt="saving">
                    </div>
                    <p class="saving__card-txt">
                        <span>Время. </span>
                        Примем вашу заявку в кротчайшие сроки. При необходимости
                        подберем для вас достойные варианты по заданным критериям.
                    </p>
                </div>
                <!-- /.saving__card -->
                <div class="saving__card">
                    <div class="saving__card-img">
                        <img src="{% static 'store/icons/saving.svg' %}" alt="saving">
                    </div>
                    <p class="saving__card-txt">
                        <span> Силы. </span>
                        Закупим оптом или закажем на фабрике, избавив от длительных
                        обсуждений заказа с исполнителем. Курируем все этапы работы над
                        заказом.
                    </p>
                </div>
                <!-- /.saving__card -->
                <div class="saving__card">
                    <div class="saving__card-img">
                        <img src="{% static 'store/icons/saving.svg' %}" alt="saving">
                    </div>
                    <p class="saving__card-txt">
                        <span>Деньги.</span>
                        Вы точно купите мебель дешевле, чем в розницу.
                    </p>
                </div>
                <!-- /.saving__card -->
            </div>
            <!-- /.saving__cards -->
            <h2 class="saving__title saving__title-two">
                На чем мы не экономим? <br>
                На вашем комфорте и
                качестве мебели!
            </h2>

        </div>
        <!-- /.saving__content -->
    </div>
    <!-- /.container -->
</section>