{% load static %}
<ul class="paremeters__list">
    <li class="paremetes__list-item">
        <h3 class="paremeters__list-title">Цвет</h3>
        {% if not topic_color %}
        <a href="#!" class="paremeters__list-btn">
            <div style="width: 30px;
                                height: 30px;
                                background: {{ topic_product.get_first_color.color_code }};
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);"></div>
            <img src="{% static 'store/image/arrow-black.svg' %}" alt="arrow-down">
        </a>
        <div class="list__drop">
            <ul>
                {% for color_parameters in topic_product.colors.all %}
                <li style="margin-top:5px;"><a href="{% url 'product' topic_product.slug color_parameters.slug %}">
                    <div style="width: 30px;
                                height: 30px;
                                background: {{ color_parameters.color_code }};
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);"></div>
                </a></li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <a href="#!" class="paremeters__list-btn">
            <div style="width: 30px;
                                height: 30px;
                                background: {{ topic_color.color_code }};
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);"></div>
            <img src="{% static 'store/image/arrow-black.svg' %}" alt="arrow-down">
        </a>
        <div class="list__drop">
            <ul>
                {% for color_parameters in topic_product.colors.all %}
                <li style="margin-top:5px;"><a href="{% url 'product' topic_product.slug color_parameters.slug %}">
                    <div style="width: 30px;
                                height: 30px;
                                background: {{ color_parameters.color_code }};
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);"></div>
                </a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </li>
    <li>
        <h3 class="paremeters__list-title">Размер (Д × Ш × В)</h3>
        <div class="paremeters__size">{{ topic_product.depth }} СМ × {{ topic_product.width }} СМ × {{ topic_product.height }} СМ
        </div>
        <div class="list__drop"></div>
    </li>
</ul>