<div class="profile__orders">
    <h2 class="profile__title">Мои заказы</h2>

    <table class="profile__table">
        <tr>
            <td colspan="4">Товар</td>
            <td>Цена</td>
            <td>Дата</td>
            <td>Статус</td>
        </tr>
        <tr>
            <td colspan="4" class="profile__title-adaptive">
                <div class="tabel__item">
                    <img src="./assets/images/main/products/1.png" alt="img">
                    <span>Кускен Navy
                                                Blue</span>
                </div>
            </td>
            <td class="profile__tabel-data">16990</td>
            <td class="profile__tabel-data">01.05.2020</td>
            <td class="profile__tabel-data">Ожидается</td>
        </tr>
        <tr>
            <td colspan="4" class="profile__title-adaptive">
                <div class="tabel__item">
                    <img src="./assets/images/main/products/2.png" alt="img">
                    <span>Кускен Navy
                                                Blue</span>
                </div>
            </td>
            <td class="profile__tabel-data">28490</td>
            <td class="profile__tabel-data">01.05.2020</td>
            <td class="profile__tabel-data">Оплачено 50%</td>
        </tr>
        <tr>
            <td colspan="4" class="profile__title-adaptive">
                <div class="tabel__item">
                    <img src="./assets/images/main/products/3.png" alt="img">
                    <span>Кускен Navy
                                                Blue</span>
                </div>
            </td>
            <td class="profile__tabel-data">21990</td>
            <td class="profile__tabel-data">01.05.2020</td>
            <td class="profile__tabel-data">Доставлено</td>
        </tr>
        <tr>
            <td colspan="4" class="profile__title-adaptive">
                <div class="tabel__item">
                    <img src="./assets/images/main/products/4.png" alt="img">
                    <span>Кускен Navy
                                                Blue</span>
                </div>
            </td>
            <td class="profile__tabel-data">21990</td>
            <td class="profile__tabel-data">01.05.2020</td>
            <td class="profile__tabel-data">Отменен</td>
        </tr>

        <!-- Не трогать - это заглушка для корректного отображения таблицы -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!-- Не трогать - это заглушка для корректного отображения таблицы -->
    </table>
    <a href="#!" class="profile__orders-link">Смотреть всё</a>
</div>