{% extends 'base.html' %}
{% load static %}

{% block slider %}
{% endblock slider %}

{% block main %}
<main class="main">
    <div class="registeration">
        <div class="container">
            <div class="registeration__content">
                <form class="registeration__form active" action="{% url 'changing_password' %}" method="post">
                    {% csrf_token %}
                    <h2 class="registeration__title products__title">Изменить пароль</h2>
                    <div class="registeration__form-grid">

                        <div class="input__title">
                            <h2>Текущий пароль</h2>
                            {{ form.old_password }}
                        </div>
                        <div class="input__title">
                            <h2>Новый пароль</h2>
                            {{ form.new_password }}
                        </div>
                         <div class="input__title">
                            <h2>Потдвердите новый пароль</h2>
                            {{ form.confirm_new_password }}
                        </div>
                    </div>

                    <div class="registeration__btns">

                        <button class="btn registeration__btn" type="submit">Изменить</button>
                        <a href="{% url 'home' %}"
                           style="font-size:12px; color: rgb(133, 131, 131); margin-left:100px;">Забыли пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock main %}
