{% load static %}
<div class="footer__social">
    <ul class="footer__navigate-list _short">
        <li><a href="{% url 'contact_us' %}" class="footer__navigate-links">Контакты</a></li>
        <li><a href="{% url 'about' %}" class="footer__navigate-links">О нас</a></li>
    </ul>

    <ul class="footer__social-list">
        <li>
            <a href="tel:89648999119" class="footer__social-links">
                <img src="{% static 'store/icons/phone.svg' %}" alt="phone">
                8 (964) 89 99 119
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank" class="footer__social-links">
                <img src="{% static 'store/icons/inst.svg' %}" alt="insta">
                INSTAGRAM
            </a>
        </li>
        <li>
            <a href="mailto:mebel_loft_anapa@mail.ru" target="_blank" class="footer__social-links">
                <img src="{% static 'store/icons/mail.svg' %}" alt="mail">
                mebel_loft_anapa@mail.ru
            </a>
        </li>
    </ul>
</div>