<ul class="nav__contacts">
    <li>
        <a href="tel:89648999119" class="nav__contacts-links">
            <i class="far fa-phone-alt"></i>
            8 (964) 89 99 119
        </a>
    </li>
    <li>
        {% if request.user.is_authenticated %}
        <a href="{% url 'shipping-address' %}" class="nav__contacts-links">
            <i class="far fa-truck"></i>
            Доставка
        </a>
        {% else %}
        <a href="{% url 'registration' %}" class="nav__contacts-links">
            <i class="far fa-truck"></i>
            Доставка
        </a>
        {% endif %}
    </li>
</ul>
<!-- /.nav__contacts -->