{% load static %}
<style>
  @font-face {
    font-family: 'Roboto';
    src: url('{% static 'store/fonts/Roboto-Regular.ttf' %}');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('{% static 'store/fonts/Roboto-Medium.ttf' %}');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('{% static 'store/fonts/Roboto-Bold.ttf' %}');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('{% static 'store/fonts/Roboto-Black.ttf' %}');
    font-style: normal;
    font-weight: 900;
}

/* Roboto Condense
========================================================================= */

@font-face {
    font-family: 'RobotoCondensed';
    src: url('{% static 'store/fonts/RobotoCondensed-Regular.ttf' %}');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('{% static 'store/fonts/RobotoCondensed-Bold.ttf' %}');
    font-style: normal;
    font-weight: 700;
}
/* PlayfairDisplay
========================================================================= */

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('{% static 'store/fonts/PlayfairDisplay-Bold.ttf' %}');
    font-style: normal;
    font-weight: 700;

}

@font-face {
    font-family: 'heart';
    src: url('{% static 'store/webfonts/fa-regular-400.ttf' %}');
    font-style: normal;
    font-weight: 400;
    color: #000;

}

@font-face {
    font-family: 'heart-active';
    src: url('{% static 'store/webfonts/fa-solid-900.ttf' %} ');
    font-style: normal;
    color: red;
    font-weight: 900;
}

</style>